{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Status Information</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>Device name:</strong> Timekeeper.inc</li>
        <li class="list-group-item"><strong>Serial number:</strong> 0961232508</li>
        <li class="list-group-item"><strong>Produce date:</strong> 15/9/2024</li>
        <li class="list-group-item"><strong>IP address:</strong> {{ ip_address }}</li>
        <li class="list-group-item"><strong>User capacity:</strong> {{ user_capacity }}/100</li>
    </ul>
</div>
{% endblock %}
